body {
  background-color: darkgray;
}

h1 {
  text-align: center;
  color: white;
  text-decoration-line: overline;
}

table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

.tiles {
  background-color: white;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-radius: 20px;
}

#container {
  position:absolute;
  left:50%;
  margin-left:-250px;
  top: 100px;
  background-color: gray;
  width: 550px;
  border-radius: 40px;
}
